.burger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--light-color);
  border-radius: 300px;
  padding: 10px 20px;
  font: var(--default-lg-text);
  letter-spacing: -0.02em;
  color: var(--light-color);

  &__text {
    margin-right: 5px;
  }

  &__lines {
    position: relative;
    width: 28px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      width: 28px;
      height: 1px;
      background-color: var(--light-color);
    }

    &::before {
      transform: translateY(-3px);
    }

    &::after {
      transform: translateY(3px);
    }
  }
}

.burger--active {
  .burger__lines {
    &::before {
      width: 20px;
      transform: rotate(45deg);
    }

    &::after {
      width: 20px;
      transform: rotate(-45deg);
    }
  }
}
