// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/ui";
@import "./components/choise-custom";
@import "./components/slider";
@import "./components/header";
@import "./components/burger";
@import "./components/navigation";
@import "./components/nav";
@import "./components/hero";
@import "./components/info";
@import "./components/why-us";
@import "./components/advantages";
@import "./components/form-section";
@import "./components/form";
